# PHP 2020

## 5. PHP Data Objects

### 5.2 PDO

#### MySQL

Starting the databse server:

In [2]:
echo shell_exec("docker run --name=mysql --net=host --rm --env MYSQL_ROOT_PASSWORD=root123 --env MYSQL_DATABASE=test --env MYSQL_USER=test --env MYSQL_PASSWORD=test123 -d mysql/mysql-server:8.0");

In [3]:
echo shell_exec("while ! timeout 1 bash -c 'echo > /dev/tcp/localhost/3306' 2> /dev/null; do sleep 1; done; echo 'Done.'");

Done.

Connect to the database:

In [4]:
$pdo = new PDO("mysql:host=127.0.0.1;port=3306;dbname=test", "test", "test123");

PDO {#11
  inTransaction: false,
  attributes: {
    CASE: NATURAL,
    ERRMODE: SILENT,
    AUTOCOMMIT: 1,
    PERSISTENT: false,
    DRIVER_NAME: "mysql",
    SERVER_INFO: "Uptime: 1491  Threads: 2  Questions: 268  Slow queries: 0  Opens: 155  Flush tables: 3  Open tables: 76  Queries per second avg: 0.179",
    ORACLE_NULLS: NATURAL,
    CLIENT_VERSION: "mysqlnd 7.4.3",
    SERVER_VERSION: "8.0.22",
    STATEMENT_CLASS: [
      "PDOStatement",
    ],
    EMULATE_PREPARES: 1,
    CONNECTION_STATUS: "127.0.0.1 via TCP/IP",
    DEFAULT_FETCH_MODE: BOTH,
  },
}

Set error mode to exceptions:

In [5]:
$pdo->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);

true

Create the test table if it does not exist:

In [6]:
$pdo->exec("CREATE TABLE IF NOT EXISTS test (`id` INT PRIMARY KEY, `value` TEXT)");

0

Delete all rows:

In [7]:
$pdo->exec("DELETE FROM test");

0

Insert some data:

In [8]:
$statement = $pdo->prepare("INSERT INTO test VALUES (:id, :data)");

PDOStatement {#98
  +queryString: "INSERT INTO test VALUES (:id, :data)",
}

In [9]:
$statement->bindValue('id', 20);
$statement->bindValue('data', "XXX");
$statement->execute();

true

In [10]:
$statement->bindValue('id', 30);
$statement->bindValue('data', "YYY");
$statement->execute();

true

Select data from database:

In [11]:
$query = $pdo->query("SELECT * FROM test");
$query->fetchAll();

[
  [
    "id" => "20",
    0 => "20",
    "value" => "XXX",
    1 => "XXX",
  ],
  [
    "id" => "30",
    0 => "30",
    "value" => "YYY",
    1 => "YYY",
  ],
]

Select data from database as associative table:

In [12]:
$query = $pdo->query("SELECT * FROM test");
$query->fetchAll(PDO::FETCH_ASSOC);

[
  [
    "id" => "20",
    "value" => "XXX",
  ],
  [
    "id" => "30",
    "value" => "YYY",
  ],
]

Select data from database as objects:

In [13]:
$query = $pdo->query("SELECT * FROM test");
$query->fetchAll(PDO::FETCH_OBJ);

[
  {#179
    +"id": "20",
    +"value": "XXX",
  },
  {#188
    +"id": "30",
    +"value": "YYY",
  },
]

Select data from database as table:

In [14]:
$query = $pdo->query("SELECT * FROM test");
$query->fetchAll(PDO::FETCH_NUM);

[
  [
    "20",
    "XXX",
  ],
  [
    "30",
    "YYY",
  ],
]

Select data from database as table with both numeric and assciative keys:

In [15]:
$query = $pdo->query("SELECT * FROM test");
$query->fetchAll(PDO::FETCH_BOTH);

[
  [
    "id" => "20",
    0 => "20",
    "value" => "XXX",
    1 => "XXX",
  ],
  [
    "id" => "30",
    0 => "30",
    "value" => "YYY",
    1 => "YYY",
  ],
]

Select data from database as objects of specific type:

In [ ]:
class Test {
    public $id;
    public $value;
}
$query = $pdo->query("SELECT * FROM test");
$query->fetchAll(PDO::FETCH_CLASS, Test::class);

Stop the database server:

In [16]:
echo shell_exec("docker container stop mysql");

mysql

### SQLite

In [ ]:
$pdo = new PDO("sqlite:/tmp/sqlite.db");

In [ ]:
$pdo->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);

In [ ]:
$pdo->exec("CREATE TABLE IF NOT EXISTS test (id INTEGER PRIMARY KEY, data TEXT NOT NULL)");

In [ ]:
$pdo->exec("DELETE FROM test");

In [ ]:
$statement = $pdo->prepare("INSERT INTO test VALUES (:id, :data)");
$statement->bindValue('id', 20);
$statement->bindValue('data', "XXX");
$statement->execute();

In [ ]:
$query = $pdo->query("SELECT * FROM test");
$query->fetchAll();

In [17]:
echo shell_exec("rm -f /tmp/sqlite.db");